html{
    background: none repeat scroll 0 0 #4381A0;
}
#slogan {
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 38px;
    color: #FFF;
    text-align: center;
    text-transform: none;
    padding-top: 15px;
}
.marginTop10{ margin-top: 10px;}
#file_upload,#flashObjDiv{display: none}

.border000{border: 1px solid #000}

.paginate_active {
    font-weight: bold;
    color: #4381A0 !important;
}
.paginate_button {
    cursor: pointer;
}

.submitBtnPlace{position: absolute; right: 6px; top: 6px;}

#table_form{padding-top: 44px;}

.modalTitle {
    border-radius: 0.278em 0.278em 0.278em 0.278em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    left: 8px;
    margin: 0;
    position: absolute;
    top: -1.2em;
    z-index: 100;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , white, #72C6E4 4%, #0C5FA5) repeat scroll 0 0 transparent;
    border-color: #50A3C8 #297CB4 #083F6F;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 0.278em 0.444em 0.389em;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
article form label {
    text-align: right;
    padding-right: 20px;
}
.ui-widget-overlay {
    background: #000
}
.ui-widget-header {
    border: 1px solid #297CB4;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #297CB4;
}
#nav {
    width: 100%;
    background: #000;
    display: none;
    height: 30px;
}
#nav ul {
    list-style-type: none;
    padding: 0 0 0 20px;
}
#nav ul li {
    margin-right: 20px;
    float: left;
}
#nav ul li a {
    padding: 0 5px 0 5px;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    text-align: center;
}
#nav ul li a:hover {
    background: #FFF;
    color: #000;
}
#nav ul li ul {
    background: #000;
}
#nav ul li ul li {
    margin-right: 0;
}
#nav ul li ul li a {
    display: block;
    min-width: 140px;
    text-align: left;
}
#nav ul li ul li a:hover {
    background: #CCC;
}
.ui-autocomplete-input{
    padding: 5px;
    min-width: 350px;
}
.detail_pic_insc{
    float: left;
    clear: both;
}
#detail_pic_insc ul li {float: left!important; }
#detail_pic_insc ul li img { border: 3px solid #E8EEF7; margin: 3px; height: 100px ; width: 80px; display: block;}
#detail_pic_insc a.deleteImage{display: block!important; margin-left: 10px;}
.infovideo{display: block;clear: both; margin-left: 60px;margin-top:10px; margin-bottom: 10px; background:  #E8EEF7}
.infovideo .infovideo-title input{ margin-left: 10px; width: 350px; margin-bottom: 5px;}
.infovideo .infovideo-thumb img{ margin-left: 10px; margin-top: 5px;}
.infovideo strong { display: inline-block; width: 60px; margin: 10px;}
#add_video{clear: both;width: auto}
.get_videos{ margin: 0px 5px;}
.category-list{ display: block;clear: both; margin-bottom: 20px; float: left}
.catebox{ float: left; width: 420px;}
.category-list input{ display: inline-block; margin: 2px!important;}
.sortable tfoot{ float: left;display: block}
.showfilter { float: left; position: absolute}
#c2 .text_filter,#c3 .text_filter{ display:inline-block; width: 100px}
#c6 .text_filter,#c8 .text_filter{ display:inline-block; width: 70px}
#c7 .text_filter{ display:inline-block; width: 80px}
.list_cv #c4 .text_filter,.list_cv #c3 .text_filter,.list_cv #c8 .text_filter{ display:inline-block; width: 70px}
.hideEle {
    display: none;
}
.float-left {
    float: left;
}
.margin-right {
    margin-right: 1em;
}
.padding-child-2-5 *{
    padding: 2px 5px;
}

.hidden{
    display: none;
}
.pointer{
    cursor: pointer;
}
.sortable{
    display: none;
    height: 0px;
}
.table .thumbnails{
    display: block;
    width: 25px;
    margin: 0 auto;
    cursor: pointer;
}
.show-thumb-hover{
    position: absolute;
    left:40px;
    top:-35px;
    display: none;
    border: 3px solid #E8EEF7;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    -moz-border-radius:0.4em;
    -webkit-border-radius: 0.4em;
    -webkit-background-clip: padding-box;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-radius: 0.4em;
}
.relative{
    position: relative;
}
.main-container{
    margin-left: 4% ;
}
.test{
    /*display: block;/*
    /*width: 97%;*/
}
.tabs-content-info{
    height: auto!important;
}
.tabs-content{
    height: auto!important;
}
.dataTables_processing{
    position: absolute;
    left: 50%;
    font-size: 18px ; color: #297CB4;
    top: 50%;
}
.form-table-ajax .block-controls{
    margin-bottom: 0;
}
.modal-window{
    /* top:40px!important;*/
}

.ui-jqgrid-btable tbody tr td{
    vertical-align: middle !important;
}
.ui-jqgrid-htable thead tr th{
    vertical-align: middle !important;
}

#gbox_list{
    margin-left: 40px;
}
.list-language{
    float: left;
}
.list-language li {
    display: inline;
    padding: 3px 5px 0px 5px;
    background: #ffF;
    margin: 0 3px;
    border-radius: 3px;
}

/*.modal-content div.frozen-div{
    height: 44px !important;
    top: 21px !important;
}
.modal-content div.frozen-bdiv{
    top: 66px !important;
}*/

.list-language li:hover,.list-language li.active{
    background: -moz-linear-gradient(center top , white, #72C6E4 4%, #0C5FA5) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.check-contant-result{
    float: left;
}
.content-columns-sep .keywords{
    display: none;
}

/*-------------------------------------------------------------------------*/
/*--------------------------STK PAGES 26/09/2012---------------------------*/
/*-------------------------------------------------------------------------*/
.title_stk h1 {
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 38px;
    color: #FFF;
    text-align: left;
    text-transform: none;
    padding-left:0.5em;
    padding-top: 15px;
}
.fix_help {}
.fix_help p {
    margin-bottom:0.5em !important;
	line-height:1.5em;}
.fix_help ul {}
.fix_help ul li {
    padding:0.5em 0.5em 0.5em 1.5em !important;
    line-height:1.5em;
    background:url(../images/icons/fugue/control-000-small.png) no-repeat 0em 0.7em;
    list-style-position:inside !important;
}
.fix_help ul li ul {
    margin-left:20px;}/*-----FIX 50PX->20PX 12/06/2013------*/
.modal-conten{
    max-height: 550px!important;
}
/*-----------------------------------------------------*/
ul.with-icon li a {
	line-height:1.5em;}
/* TUAN ANH 12-10-2012 */
/*ul.controls-buttons, div.controls-buttons {
    margin-top: -2em;
}
div.controls-buttons button.controls-buttons{
    margin-top: -2em;
}*/
/* ------------------- */

/*------------------form_fx-------------------*/
.colx2-right label {
	text-align:left !important;}
.fx_bt_indi {
	float: right;
	z-index: 200;
	position: relative;
	margin-top: -5px;
	margin-right: 20px;}
.fix_auto {
	margin:2% 10% auto 20% !important;
	width:70% !important;}
.fix_h_lnheigh {
	height:2.3em;
	line-height:2.3em;}
.form_fx {
	padding:1.0em;
	border:none;}

div.disable-form{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;}
div.disable-form .fix_auto{
     position: absolute;
     top: 25%;
}

#ui-datepicker-div{
    display: none;
}

#lean_overlay{
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#calculatingBlock {
    color: #FFFFFF;
    font-size: 20px;
    left: 45%;
    opacity: 1;
    position: absolute;
    top: 45%;
}
/* TUAN ANH (2013-01-24) loading... */
#loading {
    display: none;
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px;
}
/* TUNG (2013-03-27) */
.string{
    text-align: left !important;
}
.numeric{
    text-align: right !important;
}
/* END loading */
.margin-bottom-10{
    margin-bottom: 10px;
}
.service-right{
    width: 100%;
    float: left;
    margin-bottom: 10px
}
.service-right input{
    width: 320px;
}
.service-right a{
    float: right;
    margin-top: 8px;
}
.service-right a span{
    float:right;line-height:15px; margin-left:5px
}
.margin-left-10{
    margin-left: 10px!important;
}
/*------------------GROUP INDEXES 14/05/2013---------------------*/
.hd_tl_gr_idx {
	background:#e6e6e6;
	color:#555555;
	width:92% !important;
	font-size:1.1em;
	text-transform:uppercase;}
.pd_fix {
	padding:0.5em;
	width:90%;}
.cl_li_nrml {
	color:#333333;}
.cl_sp_fix {
	color:#3399cc;
	font-weight:bold;}
.no_active {
	opacity:0.4;}

/*---------------------HOME2 02/07/2013----------------------------*/
.fx_right {
	float:right;}
.lst_hm2 li {
	padding:0.5em;
	border-bottom:1px solid #e1e1e1;
	}
.fx_st_lst {
	
	border-bottom:1px solid #d1d1d1;
	padding:0.5em 0.3em 0.5em 0em;}
.fx_st_last {
	border:none !important;}
.fx_pdd {
	padding-top:1.8em !important;}
h2.fx_pd_tle {
	margin-bottom:opx !important;
	font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
	font-size:2.5em;}
.fx_pd_bot {
	margin-bottom:0em !important;}
.fx_pd_tble_right {
	padding:0.5em 0.7em 0.5em 0em;
	border-bottom:1px solid #d1d1d1;}
.fx_size {
	font-size:0.9em;}
