<div class="modal-table-view">
    <form method="post" class="form" action="#">
        <p class="message warning">Import data for auto testing</p>
        <p class="one-line-input grey-bg with-padding">
            <label for="auto-testing-date-from">From</label>
            <input type="number" class="input-type-text" id="auto-testing-date-from" name="date-from">
        </p>
        <p class="one-line-input grey-bg with-padding">
            <label for="auto-testing-date-to">To</label>
            <input type="number" class="input-type-text" id="auto-testing-date-to" name="date-to">
        </p>
        <button type="button" class="float-right" id="action-auto-testing-run">Run</button>
    </form>
</div>