<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
    <!-->
    <html class="no-js" dir="ltr" lang="en-US">
    <!--<![endif]-->
    <!-- the "no-js" class is for Modernizr. -->
    <meta charset="UTF-8" />
    <title>Intelligent Financial Research &amp; Consulting</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel='stylesheet' id='pe_estro_slider_style-css' href='css/allskins.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='default-css' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='skin-css' href='css/skin.php.css' type='text/css' media='all' />
    <link rel='stylesheet' id='videojs-css' href='css/videojs.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-css' href='css/supersized.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-shutter-css' href='css/supersized.shutter.css' type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.pixelentity.kenburnsSlider.min.js'></script>
    <script type='text/javascript' src='js/superfish.js'></script>
    <script type='text/javascript' src='js/jquery.tools.min.js'></script>
    <script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='js/video.js'></script>
    <script type='text/javascript' src='js/jquery.sudoSlider.min.js'></script>
    <script type='text/javascript' src='js/jquery.functions.js'></script>
    <script type='text/javascript' src='js/jquery.nivo.slider.pack.js'></script>
    <script type='text/javascript' src='js/nivo-init.js'></script>
    <script type='text/javascript' src='js/comment-reply.js'></script>
    <script type='text/javascript' src='js/jquery.tweet.js'></script>
    <script type='text/javascript' src='js/jquery.slides.min.js'></script>
    
    <script type='text/javascript' src='js/cufon.js'></script>
    <script type='text/javascript' src='js/DINpro_Bold_700.font.js'></script>
    <script type='text/javascript' src='js/DINpro_Cond_500.font.js'></script>
    
    <script type='text/javascript' src='js/jquery.gmap-1.1.0-min.js'></script>
    <style type="text/css">
        .recentcomments a {
            display:inline !important;
            padding:0 !important;
            margin:0 !important;
        }
    </style>
    
    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
    <script type='text/javascript'>
        Cufon.replace('#primary-navigation > ul > li > a', {
            fontFamily: "DINpro Bold"
        }); // Works without a selector engine
        Cufon.replace('h1, h2, h3', {
            fontFamily: "DINpro Cond"
        }); // Works without a selector engine
    </script>
    <<link id="democss" rel="stylesheet" href="css/dark.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/demo.js"></script>
    <link rel="stylesheet" href="css/demo.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/colorpicker.css" type="text/css" media="screen" />
    </head>
    
    <body class="single single-post postid-1 single-format-standard">
        
        <div class="topbar">
            <div></div>
        </div>
        <div class="page_bg"></div>
        <div class="wrapper hfeed">
            <header id="header">
                <div class="logo">
                	<a href="index.htm" title="Business"><img src="images/ifrc_logo.png" alt="Business Design" /></a>
                </div>
                <div class="sologant_com"><h1 title="Business"><span class="orange_cl">I</span>ntelligent <span class="orange_cl">F</span>inancial <span class="orange_cl">R</span>esearch & <span class="orange_cl">C</span>onsulting</h1></div>
                <div class="site-navigation">
                    <div class="lang_top">
                        <a href="#">
                            <img src="images/flag_france.png">
                        </a>
                        <a href="#">
                            <img src="images/flag_en.png">
                        </a>
                        <a href="#">
                            <img src="images/flag-vn.png">
                        </a>
                    </div>
                    <ul class="alignright">
                        <li>
                            <a href="index.htm" class="icon-home">Business</a>
                        </li>
                        <li>
                            <span class="icon-search"></span>
                        </li>
                        <li>
                            <a href="#"
                            class="icon-sitemap">Sitemap</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <form id="searchform" action="#"
                    method="get">
                        <input type="text" id="s" name="s" value="Keyword" />
                        <button type="submit" id="search-submit" value="Search" title="Search">Search</button>
                    </form>
                </div>
                <div class="clear"></div>
                <nav id="primary-navigation" role="navigation">
                    <ul id="menu-primary-nav" class="sf-menu">
                        <li id="menu-item-101" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home parent">
                            <a href="index.htm"><span>Accueil</span></a>
                        </li>
                        <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page parent">
                          <a href="detail_pages.htm"><span>Nos</span>&nbsp;Services</a>
                          <ul class="sub-menu">
                            <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Indices sur mesure</a>
                            </li>
                            <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Conseils en gestion</a>
                            </li>
                             <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Création d'entreprise</a>
                            </li>
                             <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Recherche</a>
                            </li>
                            <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Formations</a>
                            </li>
                            <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Prestations Informatiques</a>
                            </li>
                          </ul>
                        </li>
                        <li id="menu-item-166" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                            <a href="detail_pages.htm"><span>Nos</span>&nbsp;Produits</a>
                             <ul class="sub-menu">
                                <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">IFRC Indexes</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indexes Observatory</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Options & Futures</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Stratégies d'options</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice CAC40 (France)</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice Euro Stoxx 50</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice VNI (Vietnam)</a>
                                </li>
                             </ul>
                        </li>
                        <li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page parent">
                            <a href="detail_pages.htm"><span>Notre</span>&nbsp;Équipe</a>
                      
                            <ul class="sub-menu">
                                <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Theme Options</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Google Font and Cufon</a>
                                </li>
                                <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Anything Slider Page</a>
                                </li>
                                <li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Nivo Slider Page</a>
                                </li>
                                <li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Supersized Slider Page</a>
                                </li>
                                <li id="menu-item-343" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Custom Sidebars</a>
                                </li>
                                <li id="menu-item-344" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Custom Widgets</a>
                                </li>
                                <li id="menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Custom Skin and Patterns</a>
                                </li>
                                <li id="menu-item-348" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Page Item Options</a>
                                </li>
                                <li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                                    <a href="#">Second Level</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-513" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                                            <a href="#">Custom Link</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-516" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="#">Menu Item</a>
                                                </li>
                                                <li id="menu-item-517" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="#">Menu Item</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-514" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="#">Custom Link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-526" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                            <a href="contact.htm"><span>Nous</span>&nbsp;Contacter</a>
                      
                        </li>
                        
                    </ul>
                    <div class="clear"></div>
                </nav>
            </header>
            <div id="content" role="main" class="right-sidebar">
                <div id="main">
                    <div class="main_content">
                        <div class="breadcrumb">
                            <a href="index.htm" class="lnk_home">Home</a>
                            <a title="" href="detail_pages.htm">Services</a>
                            <span>Detail services</span>
                        </div>
                        <article class="post-1 post type-post status-publish format-standard hentry category-blog-category category-posts-with-image tag-blog tag-hello"
                        id="post-1">
                            <div class="header-styled">
                                <h2>Emmanuel TCHEMENI</h2>
                                <h3>Expert comptable diplômé</h3>
                            </div>
                            <div class="entry-thumbnail image_frame">
                                <a data-rel="prettyPhoto" href="images/7.jpg"
                                title="Hello World"><img src="images/7-570x180.jpg" alt="" /></a>
                            </div>
                            <div class="entry-author clearfix">
                                <span class="byline author vcard alignleft">
                                    <i>By:</i>
                                    <span class="fn">IFRC Admin</span>
                                </span>
                                <div class="categories alignright" style="margin-left:10px">Posted in:
                                    <a href="#"
                                    title="View all posts in Blog Category">Blog Category</a>,
                                    <a href="#"
                                    title="View all posts in Posts with image">Posts with image</a>
                                </div>
                                <div class="tags alignright">Tags:
                                    <a href="#"
                                    rel="tag">blog</a>,
                                    <a href="#"
                                    rel="tag">hello</a>
                                </div>
                            </div>
                            <div class="entry-content addcl_content">
                                <p>Maître de Conférences Habilité à Diriger des Recherches (HDR) à l'Université
Docteur en Gestion et Finances
Nous vous accompagnons durant toute la vie de l'entreprise : création, croissance et développement, maîtrise de la gestion, arrêt d'activité, transmission.</p>
                                <div class="list_ser">
                                	<ul>
                                    	<li>Création d'entreprise</li>
                                        <li>Etablissements des Etats financiers</li>
                                        <li>Missions sociales</li>
                                        <li>Formalités juridiques et économiques liées au fonctionnement de l'entreprise</li>
                                        <li>Commissariat aux Comptes et Audit contractuel (audit comptable, fiscal et financier)</li>
                                        <li>Développement de l'entreprise</li>
                                        <li>Missions de Conseil</li>
                                    </ul>
                                </div>
                            </div>
                            <footer class="entry-meta">
                                <time datetime="2012-01-10" pubdate class="updated">
                                    <a href="#">January 10, 2012</a>
                                </time>
                                <span class="seperator">|</span>
                                <span class="comments">
                                    <a href="#"
                                    title="Comment on Hello World">1 Comment</a>
                                </span>
                            </footer>
                           
                            <div class="clear"></div>
                        </article>
                        <article class="post-1 post type-post status-publish format-standard hentry category-blog-category category-posts-with-image tag-blog tag-hello"
                        id="post-1">
                            <div class="header-styled">
                                <h2>Les services</h2>
                                <h3>Les différentes missions</h3>
                            </div>
                            
                            <div class="entry-author clearfix">
                                <span class="byline author vcard alignleft">
                                    <i>By:</i>
                                    <span class="fn">IFRC Admin</span>
                                </span>
                                <div class="categories alignright" style="margin-left:10px">Posted in:
                                    <a href="#" title="View all posts in Blog Category">Blog Category</a>,
                                    <a href="#" title="View all posts in Posts with image">Posts with image</a>
                                </div>
                                <div class="tags alignright">Tags:
                                    <a href="#" rel="tag">blog</a>,
                                    <a href="#" rel="tag">hello</a>
                                </div>
                            </div>
                            <div class="entry-content addcl_content">
                            	
                                <p><strong class="white_st">Création d'entreprises</strong></p>
                                <div class="list_ser">
                                	<ul>
                                    	<li>Etude prévisionnelle (accompagnement dans la rédaction du projet, élaboration du business plan et du bilan et compte de résultat prévisionnels)</li>
                                        <li>Rédaction des statuts et Choix de la forme juridique</li>
                                        <li>Réalisation des formalités administratives liées à la création (chambre de commerce, chambre des métiers, greffe du tribunal de commerce, banques)</li>
                                    </ul>
                                </div>
                                <p><strong class="white_st">Etablissements des Etats financiers</strong></p>
                                <div class="list_ser">
                                	<ul>
                                    	<li>Liasses fiscales à communiquer à l'administration (Bilan, Compte de résultat, Annexe)</li>
                                    </ul>
                                </div>
                                <p><strong class="white_st">Missions sociales</strong></p>
                                <div class="list_ser">
                                	<ul>
                                    	<li>Etablissement des bulletins de salaires</li>
                                        <li>Calcul des charges sociales</li>
                                        <li>Conseil en matière de régime social et en matière de retraite (retraite de base et retraite complémentaire telle que la loi Madelin…)</li>
                                    </ul>
                                </div>
                                <p><strong class="white_st">Formalités juridiques et économiques liées au fonctionnement de l'entreprise</strong></p>
                                <div class="list_ser">
                                	<ul>
                                    	<li>Procès verbaux d'assemblées</li>
                                        <li>Communication financières en direction des actionnaires ou associés et du marché</li>
                                    </ul>
                                </div>
                                <p><strong class="white_st">Commissariat aux Comptes et Audit contractuel (audit comptable, fiscal et financier)
Développement de l'entreprise</strong></p>
                                <div class="list_ser">
                                	<ul>
                                    	<li>Etablissement des états prévisionnels pour les dirigeants et les banquiers</li>
                                    </ul>
                                </div>
                                <p><strong class="white_st">Missions de Conseil</strong></p>
                                <div class="list_ser">
                                	<ul>
                                    	<li>Evaluation des entreprises</li>
                                        <li>Comptabilité analytique et contrôle de gestion</li>
                                        <li>Analyse financière et Gestion financière</li>
                                        <li>Contrôle interne</li>
                                        <li>Assistance en matière de contrôle fiscal</li>
                                        <li>Gestion de la trésorerie de l'entreprise par rapport au marché financier</li>
                                        <li>Rédaction d'études, de rapports, de notes de synthèse et de comptes rendus</li>
                                        <li>Transmission et cession d'entreprises</li>
                                    </ul>
                                </div>
                                
                                
                            </div>
                            <footer class="entry-meta">
                                <time datetime="2012-01-10" pubdate class="updated">
                                    <a href="#">January 10, 2012</a>
                                </time>
                                <span class="seperator">|</span>
                                <span class="comments">
                                    <a href="#"
                                    title="Comment on Hello World">1 Comment</a>
                                </span>
                            </footer>
                           
                            <div class="clear"></div>
                        </article>
                        <!-- You can start editing here. -->
                        
                        
                        
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="sidebar">
                	<div id="subnav-3" class="widget widget_subnav pd_fix">
                        <h3>Nos Services</h3>
                        <ul>
                            <li class="page_item ">
                                <a href="detail_pages.htm">Indices sur mesure</a>
                            </li>
                            <li class="page_item ">
                                <a href="detail_pages.htm">Conseils en gestion</a>
                            </li>
                            <li class="page_item ">
                                <a href="detail_pages.htm">Création d'entreprise</a>
                            </li>
                            <li class="page_item ">
                                <a href="#">Recherche</a>
                            </li>
                            <li class="page_item ">
                                <a href="#">Formations</a>
                            </li>
                            <li class="page_item ">
                                <a href="#">Prestations Informatiques</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div id="portfolio-3" class="widget widget_portfolio">
                        <h3>Nos Publications</h3>
                        <script>
                            jQuery(function () {
                                jQuery('#slides_518').slides({
                                    generateNextPrev: false,
                                    preloadImage: 'images/loading.gif',
                                    generatePagination: false
                                });
                            });
                        </script>
                        <div id="slides_518">
                            <div class="slides_nav">
                                <a href="#" class="prev"></a>
                                <a href="#" class="next"></a>
                            </div>
                            <div class="slides_container">
                                <div class="thumb">
                                    <a href="#"
                                    data-rel="prettyPhoto" title="Sagittis">
  <img src="images/6-316x174.jpg" alt="Sagittis" />
</a>
                                </div>
                                <div class="thumb">
                                    <a href="images/13.jpg"
                                    data-rel="prettyPhoto" title="Lorem ipsum">
  <img src="images/13-316x174.jpg" alt="Lorem ipsum" />
</a>
                                </div>
                                <div class="thumb">
                                    <a href="#" data-rel="prettyPhoto" title="Consectetur">
  <img src="images/2-316x174.jpg" alt="Consectetur" />
</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="popular_posts-3" class="widget widget_popular_posts">
                        <h3>Actualités</h3>
                        <ul class="posts_list">
                            <li>
                                <a class="thumbnail" href="#" title="">
                                	<img width="65" height="65" src="images/img_new_150x150.jpg" class="attachment-65x65 wp-post-image" alt="Hello World" title="" />
                                </a>
                                <div class="post_extra_info fx_cl_title_right">
                                    <a href="#"rel="bookmark" title=""><strong>Vietnam Equity markets' indexes</strong></a>
                                    <p>Like all developing markets, equity markets of Vietnam (Hochiminh and Hanoi) have different indexes that represent...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <a class="thumbnail" href="#">
                                	<img width="65" height="65" src="images/img_new_150x150_02.jpg" class="attachment-65x65 wp-post-image" alt="Fusce nibh neque fermentum" title="" />
                                </a>
                                <div class="post_extra_info fx_cl_title_right">
                                    <a href="#" rel="bookmark" title=""><strong>The IFRC VNX Vietnam indexes family</strong></a>
                                    <p>At present, there are two stock exchanges in Vietnam ...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li class="last">
                                <a class="thumbnail" href="#">
                                	<img width="65" height="65" src="images/img_new_150x150_03.jpg" class="attachment-65x65 wp-post-image" alt="Lorem ipsum" title="" />
                                </a>
                                <div class="post_extra_info fx_cl_title_right">
                                    <a href="#" rel="bookmark" title=""><strong>Vietnam Stock Markets Monthly Reports</strong></a>
                                    <p>...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="wrapper">
                <div class="footer-nav-wrapper">
                    <div class="fnwl1"></div>
                    <div class="fnwc1">
                        <nav>
                            <ul id="menu-footer-nav" class="menu">
                                <li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-246 current_page_item menu-item-289">
                                    <a href="index.htm">Accueil</a>
                                </li>
                                <li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290">
                                    <a href="detail_pages.htm">Services</a>
                                </li>
                                <li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293">
                                    <a href="detail_pages.htm">Produits</a>
                                </li>
                                <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292">
                                    <a href="detail_pages.htm">Notre équipe</a>
                                </li>
                                <li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292">
                                    <a href="contact.htm">Contact</a>
                                </li>
                               
                            </ul>
                            <div class="social_links">
                                <a class="facebook" href="http://www.facebook.com" target="_blank">Facebook</a>
                                <a class="flickr" href="http://www.flickr.com" target="_blank">Flickr</a>
                                <a class="linkedin" href="http://www.linkedin.com" target="_blank">LinkedIn</a>
                                <a class="twitter" href="https://twitter.com" target="_blank">Twitter</a>
                            </div>
                        </nav>
                    </div>
                    <div class="fnwr1"></div>
                </div>
                <div class="clear"></div>
                <div class="footer-content">
                    <div class="one_third">
                        <div id="text-2" class="widget widget_text">
                            <h3>Conseils en gestion</h3>
                            <div class="textwidget">
                                <p>Création d'entreprise, Etablissement des états financiers ... aux missions de Conseil</p>
                                <p><a href="#" class="bg_dt">plus d'informations</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="one_third">
                        <div id="recent_posts-2" class="widget widget_recent_posts">
                            <h3>Indices sur mesure</h3>
                            <div class="textwidget">
                                <p>Conception, Simulations, Calcul, Gestion, Publication, ... à la Promotion des indices sur mesures</p>
                                <p><a href="#" class="bg_dt">plus d'informations</a></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="one_third last">
                        <div id="imperial_twitter-2" class="widget widget_twitter">
                            <h3>Création d'entreprise</h3>
                            <div class="textwidget">
                                <p>Etablissement business plan, Formalités administratives, ... Création de l'identité visuelle, à l'hébergement du site web</p>
                                <p><a href="#" class="bg_dt">plus d'informations</a></p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="copyright">
                <div class="wrapper">
                    <span class="alignleft">All rights reserved. Copyright © 2012</span>
                    <span class="alignright">
                        <a href="ifrc.fr">www.ifrc.fr</a>
                    </span>
                </div>
            </div>
        </footer>
        <script type='text/javascript'>
            Cufon.now();
        </script>
        
    </body>
    
    </html>
    <!-- This Quick Cache file was built for ( themes.imperialthemes.com/businessdesign/hello-world/
    ) in 1.01268 seconds, on Apr 23rd, 2012 at 1:27 am UTC. -->
    <!-- This Quick Cache file will automatically expire ( and be re-built
    automatically ) on Apr 23rd, 2012 at 11:27 am UTC -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    -->
    <!-- Quick Cache Is Fully Functional :-) ... A Quick Cache file was just
    served for ( themes.imperialthemes.com/businessdesign/hello-world/ ) in
    0.02879 seconds, on Apr 23rd, 2012 at 9:33 am UTC. -->