<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<!-->
<html class="no-js" dir="ltr" lang="en-US">
<!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->
<meta charset="UTF-8" />
<title>Intelligent Financial Research &amp; Consulting</title>
<meta
name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    
    <link rel='stylesheet' id='pe_estro_slider_style-css' href='css/allskins.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='default-css' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='skin-css' href='css/skin.php.css' type='text/css' media='all' />
    <link rel='stylesheet' id='videojs-css' href='css/videojs.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-css' href='css/supersized.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-shutter-css' href='css/supersized.shutter.css' type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.pixelentity.kenburnsSlider.min.js'></script>
    <script type='text/javascript' src='js/superfish.js'></script>
    <script type='text/javascript' src='js/jquery.tools.min.js'></script>
    <script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='js/video.js'></script>
    <script type='text/javascript' src='js/jquery.sudoSlider.min.js'></script>
    <script type='text/javascript' src='js/jquery.functions.js'></script>
    <script type='text/javascript' src='js/jquery.nivo.slider.pack.js'></script>
    <script type='text/javascript' src='js/nivo-init.js'></script>
    <script type='text/javascript' src='js/comment-reply.js'></script>
    <script type='text/javascript' src='js/jquery.tweet.js'></script>
    <script type='text/javascript' src='js/jquery.slides.min.js'></script>
    
    <script type='text/javascript' src='js/cufon.js'></script>
    <script type='text/javascript' src='js/Myriad_Pro_700.font.js'></script>
    <style type="text/css">
        .recentcomments a {
            display:inline !important;
            padding:0 !important;
            margin:0 !important;
        }
    </style>
   
    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
    <script type='text/javascript'>
        Cufon.replace('#primary-navigation > ul > li > a', {
            
        }); // Works without a selector engine
        Cufon.replace('h1, h2, h3, h4', {
            
        }); // Works without a selector engine
		
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var sudoSlider = jQuery("#sudoslider").sudoSlider({
                vertical: true,
                continuous: true,
                controlsAttr: 'id="posts_slider_controls"'
            });
        });
    </script>
    <link id="democss" rel="stylesheet" href="css/dark.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/demo.js"></script>
    <link rel="stylesheet" href="css/demo.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/colorpicker.css" type="text/css" media="screen" />
    </head>
    
    <body class="home page page-id-246 page-template-default">
        
        <div class="topbar">
            <div></div>
        </div>
        <div class="page_bg"></div>
        <div class="wrapper hfeed">
            <header id="header">
                <div class="logo">
                	<a href="index.htm" title="Business"><img src="images/ifrc_logo.png" alt="Business Design" /></a>
                </div>
                <div class="sologant_com"><h1 title="Business"><span class="orange_cl">I</span>ntelligent <span class="orange_cl">F</span>inancial <span class="orange_cl">R</span>esearch & <span class="orange_cl">C</span>onsulting</h1></div>
                <div class="site-navigation">
                    <div class="lang_top">
                        <a href="#">
                            <img src="images/flag_france.png">
                        </a>
                        <a href="#">
                            <img src="images/flag_en.png">
                        </a>
                        <a href="#">
                            <img src="images/flag-vn.png">
                        </a>
                    </div>
                    <ul class="alignright">
                        <li>
                            <a href="index.htm" class="icon-home">Business</a>
                        </li>
                        <li>
                            <span class="icon-search"></span>
                        </li>
                        <li>
                            <a href="#"class="icon-sitemap">Sitemap</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <form id="searchform" action="#"
                    method="get">
                        <input type="text" id="s" name="s" value="Keyword" />
                        <button type="submit" id="search-submit" value="Search" title="Search">Search</button>
                    </form>
                </div>
                <div class="clear"></div>
                <nav id="primary-navigation" role="navigation">
                    <ul id="menu-primary-nav" class="sf-menu">
                        <li id="menu-item-101" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home parent">
                            <a href="index.htm"><span>Accueil</span></a>
                        </li>
                        <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page parent">
                          <a href="detail_pages.htm"><span>Nos</span>&nbsp;Services</a>
                          <ul class="sub-menu">
                            <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Indices sur mesure</a>
                            </li>
                            <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Conseils en gestion</a>
                            </li>
                             <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Création d'entreprise</a>
                            </li>
                             <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Recherche</a>
                            </li>
                            <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Formations</a>
                            </li>
                            <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Prestations Informatiques</a>
                            </li>
                          </ul>
                        </li>
                        <li id="menu-item-166" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                            <a href="detail_pages.htm"><span>Nos</span>&nbsp;Produits</a>
                             <ul class="sub-menu">
                                <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">IFRC Indexes</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indexes Observatory</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Options & Futures</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Stratégies d'options</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice CAC40 (France)</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice Euro Stoxx 50</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice VNI (Vietnam)</a>
                                </li>
                             </ul>
                        </li>
                        <li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page parent">
                            <a href="detail_pages.htm"><span>Notre</span>&nbsp;Équipe</a>
                      
                            <ul class="sub-menu">
                                <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Theme Options</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Google Font and Cufon</a>
                                </li>
                                <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Anything Slider Page</a>
                                </li>
                                <li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Nivo Slider Page</a>
                                </li>
                                <li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Supersized Slider Page</a>
                                </li>
                                <li id="menu-item-343" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Custom Sidebars</a>
                                </li>
                                <li id="menu-item-344" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Custom Widgets</a>
                                </li>
                                <li id="menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Custom Skin and Patterns</a>
                                </li>
                                <li id="menu-item-348" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Page Item Options</a>
                                </li>
                                <li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                                    <a href="#">Second Level</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-513" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                                            <a href="#">Custom Link</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-516" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="#">Menu Item</a>
                                                </li>
                                                <li id="menu-item-517" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="#">Menu Item</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-514" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="#">Custom Link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-526" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                            <a href="contact.htm"><span>Nous</span>&nbsp;Contacter</a>
                      
                        </li>
                        
                    </ul>
                    <div class="clear"></div>
                </nav>
            </header>
            <section id="branding" role="banner">
                <div class="branding-wrapper">
                    <div id="nivoSlider" class="nivoSlider" style="height:355px">
                        <a href="#"><img src="images/slide_01.jpg" title="Analyse et Recherche" alt="" /></a>
                        <a href="#"><img src="images/slide_02.jpg" title="Indices" alt="" /></a>
                        <a href="#"><img src="images/slide_03.jpg" title="Négociation" alt="" /></a>
                        <a href="#"><img src="images/slide_04.jpg" title="Indices" alt="" /></a>
                    </div>
                </div>
            </section>
            <script type="text/javascript">
                var sliderOptions = [];
                sliderOptions['effect'] = 'random';
                sliderOptions['slices'] = '10';
                sliderOptions['boxCols'] = '8';
                sliderOptions['boxRows'] = '4';
                sliderOptions['animSpeed'] = '500';
                sliderOptions['pauseTime'] = '3000';
                sliderOptions['directionNav'] = true;
                sliderOptions['directionNavHide'] = true;
                sliderOptions['controlNav'] = true;
                sliderOptions['keyboardNav'] = true;
                sliderOptions['pauseOnHover'] = true;
                sliderOptions['manualAdvance'] = false;
                sliderOptions['captions'] = true;
                sliderOptions['captionOpacity'] = '0.5';
                sliderOptions['stopAtEnd'] = false;
            </script>
            <div id="content" role="main" class="right-sidebar">
                <div id="main">
                    <div class="main_shortcode">
                    	<div class="src_list">
                        	<h1>1. Title</h1>
                            <div class="src_title">
                            	<h1>Heading 1</h1>
                                <h2>Heading 2</h2>
                                <h3>Heading 3</h3>
                                <h4>Heading 4</h4>
                                <h5>Heading 5</h5>
                            </div>
                        </div>
                    
                    </div>
                    
                </div>
                <div id="sidebar">
                    <!-- start slide news_right
                    <div class="posts_slider_wrap">
                        <div id="sudoslider" class="posts_slider">
                            <ul>
                                <li>
                                    
                                    <div class="pslider_thumb">
                                        <a href="#"><img src="images/2-113x107.jpg" alt="Suspendisse porta ornare"/></a>
                                    </div>
                                    <div class="pslider_entry">
                                        <h3>Conseils en gestion</h3>
                                        <p>Par nos compétences internes et un réseau des experts, IFRC nous  accompagne dans la vie de votre société et vous offre <strong>une gamme  complète de services</strong>: de la création jusqu&#039au conseils de  développement.</p>

                                    </div>
                                </li>
                                <li>
                                    
                                    <div class="pslider_thumb">
                                        <a href="#"><img src="images/nv2-113x107.jpg" alt="Fusce nibh neque fermentum"/></a>
                                    </div>
                                    <div class="pslider_entry">
                                        <h3>Création d'entreprise</h3>
                                        Nous vous accompagnons pour la phase de création  d&#039entreprise&nbsp;: </span><strong><span>choix et rédaction du statut, optimisation, formalités administratives, création logo et site web, ...
                                    </div>
                                </li>
                                
                                <li>
                                    
                                    <div class="pslider_thumb">
                                        <a href="#"><img src="images/6-113x107.jpg" alt="Lorem ipsum"/></a>
                                    </div>
                                    <div class="pslider_entry">
                                        <h3>Recherche</h3>
                                        <p><strong>IFRC</strong> réalise des études et recherches complètes sur   vos currents, pour développer vos nouveaux produits ou encore pour   promovoir vos produits existants. Nous pouvons également intervenir pour   la collecte d&#039informations et de données nécessaires à  vos besoins  internes</p>
                                    </div>
                                </li>
                                <li>
                                    
                                    <div class="pslider_thumb">
                                        <a href="#"><img src="images/7-113x107.jpg" alt="Hello World"/></a>
                                    </div>
                                    <div class="pslider_entry">
                                        <h3>Formations</h3>
                                        <p><strong>IFRC </strong>développe des programmes de formation en Finance: marchés et produits financiers, gestion de portfeuilles, analyse technique,...</p>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    end slide news_right -->
                    <div id="popular_posts-3" class="widget widget_popular_posts">
                        <h3>Actualités</h3>
                        <ul class="posts_list">
                            <li>
                                <a class="thumbnail" href="#" title="">
                                	<img width="65" height="65" src="images/img_new_150x150.jpg" class="attachment-65x65 wp-post-image" alt="Hello World" title="" />
                                </a>
                                <div class="post_extra_info fx_cl_title_right">
                                    <a href="#"rel="bookmark" title=""><strong>Vietnam Equity markets' indexes</strong></a>
                                    <p>Like all developing markets, equity markets of Vietnam (Hochiminh and Hanoi) have different indexes that represent...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <a class="thumbnail" href="#">
                                	<img width="65" height="65" src="images/img_new_150x150_02.jpg" class="attachment-65x65 wp-post-image" alt="Fusce nibh neque fermentum" title="" />
                                </a>
                                <div class="post_extra_info fx_cl_title_right">
                                    <a href="#" rel="bookmark" title=""><strong>The IFRC VNX Vietnam indexes family</strong></a>
                                    <p>At present, there are two stock exchanges in Vietnam ...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li class="last">
                                <a class="thumbnail" href="#">
                                	<img width="65" height="65" src="images/img_new_150x150_03.jpg" class="attachment-65x65 wp-post-image" alt="Lorem ipsum" title="" />
                                </a>
                                <div class="post_extra_info fx_cl_title_right">
                                    <a href="#" rel="bookmark" title=""><strong>Vietnam Stock Markets Monthly Reports</strong></a>
                                    <p>...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    <div id="portfolio-2" class="widget widget_portfolio">
                        <h3>Nos Publications</h3>
                        <script>
                            jQuery(function () {
                                jQuery('#slides_381').slides({
                                    generateNextPrev: false,
                                    preloadImage: 'images/loading.gif',
                                    generatePagination: false
                                });
                            });
                        </script>
                        <div id="slides_381">
                            <div class="slides_nav">
                                <a href="#" class="prev"></a>
                                <a href="#" class="next"></a>
                            </div>
                            <div class="slides_container">
                                <div class="thumb">
                                    <a href="#"
                                    data-rel="prettyPhoto" title="Sagittis">
<img src="images/6-316x174.jpg" alt="Sagittis" />
</a>
                                </div>
                                <div class="thumb">
                                    <a href="images/13.jpg"
                                    data-rel="prettyPhoto" title="Lorem ipsum">
<img src="images/13-316x174.jpg" alt="Lorem ipsum" />
</a>
                                </div>
                                <div class="thumb">
                                    <a href="http://vimeo.com/14715262" data-rel="prettyPhoto" title="Consectetur">
<img src="images/2-316x174.jpg" alt="Consectetur" />
</a>
                                </div>
                                <div class="thumb">
                                    <a href="images/3.jpg"
                                    data-rel="prettyPhoto" title="Adipiscing elit">
<img src="images/3-316x174.jpg" alt="Adipiscing elit" />
</a>
                                </div>
                                <div class="thumb">
                                    <a href="images/4.jpg"
                                    data-rel="prettyPhoto" title="Lorem ipsum">
<img src="images/4-316x174.jpg" alt="Lorem ipsum" />
</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="newsletter-2" class="widget widget_newsletter">
                        <h3>Newsletter</h3>
                        <span class="widget_icon"></span>
                        <form class="simple-mail-collector-form" name="simple_mail_collector_form-2"
                        method="post" action="http://themes.imperialthemes.com/businessdesign/">
                            <p>Join our monthly newsletter to get an inside look at how we make things
                                happen!</p>
                            <input class="simple-mail-collector-email" type="text" id="simple-mail-collector-email-2"
                            name="simple_mail_collector_email-2" value="Your e-mail address" />
                            <button class="simple-mail-collector-submit" id="simple-mail-collector-submit-2"
                            name="simple_mail_collector_submit-2">
                                <span>Register</span>
                            </button>
                        </form>
                        <div class="clear"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="wrapper">
                <div class="footer-nav-wrapper">
                    <div class="fnwl1"></div>
                    <div class="fnwc1">
                        <nav>
                            <ul id="menu-footer-nav" class="menu">
                                <li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-246 current_page_item menu-item-289">
                                    <a href="index.htm">Accueil</a>
                                </li>
                                <li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290">
                                    <a href="detail_pages.htm">Services</a>
                                </li>
                                <li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293">
                                    <a href="detail_pages.htm">Produits</a>
                                </li>
                                <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292">
                                    <a href="detail_pages.htm">Notre équipe</a>
                                </li>
                                <li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292">
                                    <a href="contact.htm">Contact</a>
                                </li>
                               
                            </ul>
                            <div class="social_links">
                                <a class="facebook" href="http://www.facebook.com" target="_blank">Facebook</a>
                                <a class="flickr" href="http://www.flickr.com" target="_blank">Flickr</a>
                                <a class="linkedin" href="http://www.linkedin.com" target="_blank">LinkedIn</a>
                                <a class="twitter" href="https://twitter.com" target="_blank">Twitter</a>
                            </div>
                        </nav>
                    </div>
                    <div class="fnwr1"></div>
                </div>
                <div class="clear"></div>
                <div class="footer-content">
                    <div class="one_third">
                        <div id="text-2" class="widget widget_text">
                            <h3>Conseils en gestion</h3>
                            <div class="cl_wht">
                                <p>Création d'entreprise, Etablissement des états financiers ... aux missions de Conseil</p>
                                <p><a href="#" class="bg_dt">plus d'informations</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="one_third">
                        <div id="recent_posts-2" class="widget widget_recent_posts">
                            <h3>Indices sur mesure</h3>
                            <div class="cl_wht">
                                <p>Conception, Simulations, Calcul, Gestion, Publication, ... à la Promotion des indices sur mesures</p>
                                <p><a href="#" class="bg_dt">plus d'informations</a></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="one_third last">
                        <div id="imperial_twitter-2" class="widget widget_twitter">
                            <h3>Création d'entreprise</h3>
                            <div class="cl_wht">
                                <p>Etablissement business plan, Formalités administratives, ... Création de l'identité visuelle, à l'hébergement du site web</p>
                                <p><a href="#" class="bg_dt">plus d'informations</a></p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="copyright">
                <div class="wrapper">
                    <span class="alignleft">All rights reserved. Copyright © 2012</span>
                    <span class="alignright">
                        <a href="ifrc.fr">www.ifrc.fr</a>
                    </span>
                </div>
            </div>
        </footer>
        <script type='text/javascript'>
            Cufon.now();
        </script>
        
    </body>

</html>
<!-- This Quick Cache file was built for ( themes.imperialthemes.com/businessdesign/
) in 0.77827 seconds, on Apr 19th, 2012 at 12:55 am UTC. -->
<!-- This Quick Cache file will automatically expire ( and be re-built
automatically ) on Apr 19th, 2012 at 10:55 am UTC -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<!-- Quick Cache Is Fully Functional :-) ... A Quick Cache file was just
served for ( themes.imperialthemes.com/businessdesign/ ) in 0.00099 seconds,
on Apr 19th, 2012 at 2:26 am UTC. -->