<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
    <!-->
    <html class="no-js" dir="ltr" lang="en-US">
    <!--<![endif]-->
    <!-- the "no-js" class is for Modernizr. -->
    <meta charset="UTF-8" />
    <title>Intelligent Financial Research &amp; Consulting</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="shortcut icon" href="images/favicon.ico"
    />
    <link rel='stylesheet' id='pe_estro_slider_style-css' href='css/allskins.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='default-css' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='skin-css' href='css/skin.php.css' type='text/css' media='all' />
    <link rel='stylesheet' id='videojs-css' href='css/videojs.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-css' href='css/supersized.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-shutter-css' href='css/supersized.shutter.css' type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.pixelentity.kenburnsSlider.min.js'></script>
    <script type='text/javascript' src='js/superfish.js'></script>
    <script type='text/javascript' src='js/jquery.tools.min.js'></script>
    <script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='js/video.js'></script>
    <script type='text/javascript' src='js/jquery.sudoSlider.min.js'></script>
    <script type='text/javascript' src='js/jquery.functions.js'></script>
    <script type='text/javascript' src='js/jquery.nivo.slider.pack.js'></script>
    <script type='text/javascript' src='js/nivo-init.js'></script>
    <script type='text/javascript' src='js/comment-reply.js'></script>
    <script type='text/javascript' src='js/jquery.tweet.js'></script>
    <script type='text/javascript' src='js/jquery.slides.min.js'></script>
    
    <script type='text/javascript' src='js/cufon.js'></script>
    <script type='text/javascript' src='js/DINpro_Bold_700.font.js'></script>
    <script type='text/javascript' src='js/DINpro_Cond_500.font.js'></script>
    
    <script type='text/javascript' src='js/jquery.gmap-1.1.0-min.js'></script>
    <style type="text/css">
        .recentcomments a {
            display:inline !important;
            padding:0 !important;
            margin:0 !important;
        }
    </style>
   
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/js/html5.js"></script>
    <![endif]-->
    <script type='text/javascript'>
        Cufon.replace('#primary-navigation > ul > li > a', {
            fontFamily: "DINpro Bold"
        }); // Works without a selector engine
        Cufon.replace('h1, h2, h3, h4', {
            fontFamily: "DINpro Cond"
        }); // Works without a selector engine
    </script>
    <link id="democss" rel="stylesheet" href="css/dark.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/demo.js"></script>
    <link rel="stylesheet" href="css/demo.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/colorpicker.css" type="text/css" media="screen" />
    </head>
    
    <body class="page page-id-201 page-child parent-pageid-610 page-template-default">
        
        <div class="topbar">
            <div></div>
        </div>
        <div class="page_bg"></div>
        <div class="wrapper hfeed">
            <header id="header">
                <div class="logo">
                	<a href="index.htm" title="Business"><img src="images/ifrc_logo.png" alt="Business Design" /></a>
                </div>
                <div class="sologant_com"><h1 title="Business"><span class="orange_cl">I</span>ntelligent <span class="orange_cl">F</span>inancial <span class="orange_cl">R</span>esearch & <span class="orange_cl">C</span>onsulting</h1></div>
                <div class="site-navigation">
                    <div class="lang_top">
                        <a href="#">
                            <img src="images/flag_france.png">
                        </a>
                        <a href="#">
                            <img src="images/flag_en.png">
                        </a>
                        <a href="#">
                            <img src="images/flag-vn.png">
                        </a>
                    </div>
                    <ul class="alignright">
                        <li>
                            <a href="index.htm" class="icon-home">Business</a>
                        </li>
                        <li>
                            <span class="icon-search"></span>
                        </li>
                        <li>
                            <a href="#"
                            class="icon-sitemap">Sitemap</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <form id="searchform" action="#"
                    method="get">
                        <input type="text" id="s" name="s" value="Keyword" />
                        <button type="submit" id="search-submit" value="Search" title="Search">Search</button>
                    </form>
                </div>
                <div class="clear"></div>
                <nav id="primary-navigation" role="navigation">
                    <ul id="menu-primary-nav" class="sf-menu">
                        <li id="menu-item-101" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home parent">
                            <a href="index.htm"><span>Accueil</span></a>
                        </li>
                        <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page parent">
                          <a href="detail_pages.htm"><span>Nos</span>&nbsp;Services</a>
                          <ul class="sub-menu">
                            <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Indices sur mesure</a>
                            </li>
                            <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Conseils en gestion</a>
                            </li>
                             <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Création d'entreprise</a>
                            </li>
                             <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Recherche</a>
                            </li>
                            <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Formations</a>
                            </li>
                            <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Prestations Informatiques</a>
                            </li>
                          </ul>
                        </li>
                        <li id="menu-item-166" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                            <a href="detail_pages.htm"><span>Nos</span>&nbsp;Produits</a>
                             <ul class="sub-menu">
                                <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">IFRC Indexes</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indexes Observatory</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Options & Futures</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Stratégies d'options</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice CAC40 (France)</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice Euro Stoxx 50</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice VNI (Vietnam)</a>
                                </li>
                             </ul>
                        </li>
                        <li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page parent">
                            <a href="detail_pages.htm"><span>Notre</span>&nbsp;Équipe</a>
                      
                            <ul class="sub-menu">
                                <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Theme Options</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Google Font and Cufon</a>
                                </li>
                                <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Anything Slider Page</a>
                                </li>
                                <li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Nivo Slider Page</a>
                                </li>
                                <li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Supersized Slider Page</a>
                                </li>
                                <li id="menu-item-343" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Custom Sidebars</a>
                                </li>
                                <li id="menu-item-344" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Custom Widgets</a>
                                </li>
                                <li id="menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Custom Skin and Patterns</a>
                                </li>
                                <li id="menu-item-348" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Page Item Options</a>
                                </li>
                                <li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                                    <a href="#">Second Level</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-513" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                                            <a href="#">Custom Link</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-516" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="#">Menu Item</a>
                                                </li>
                                                <li id="menu-item-517" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="#">Menu Item</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-514" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="#">Custom Link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-526" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                            <a href="contact.htm"><span>Nous</span>&nbsp;Contacter</a>
                      
                        </li>
                        
                    </ul>
                    <div class="clear"></div>
                </nav>
            </header>
            <div id="content" role="main" class="right-sidebar">
                <div id="main">
                    <div class="main_content">
                        <div class="breadcrumb">
                            <a href="index.htm" class="lnk_home">Home</a>
                            <span>Contact Us</span>
                        </div>
                        <article class="post" id="post-201">
                            <h2 class="entry-title">CONTACT US</h2>
                            <div class="entry-thumbnail image_frame">
                                <a data-rel="prettyPhoto" href="images/4.jpg"
                                title="Contact Us"><img src="images/4-570x180.jpg" alt="" /></a>
                            </div>
                            <div class="entry fix_cl_subtle">
                                <script type='text/javascript' src='js/jquery.validate.min.js'></script>
                                <h4>
                                    Loked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                                </h4>
                                <p>Loked up one of the more consectetur, from a Lorem Ipsum passage. Loked
                                    up one of the more consectetur, from a Lorem Ipsum passage. Loked up one
                                    of the more consectetur, from a Lorem Ipsum passage. Loked up one of the
                                    more consectetur, from a Lorem Ipsum passage.</p>
                                    <div class="clear"></div>
                                    <div class="all_offce last_br">
                                        <div class="one_half ">
                                            <h3>France</h3>
                                            <p class="icon-text  icon-home">66 avenue des Champs Elysées, Bureau 46 <br>
75008 PARIS - FRANCE</p>
                                            
                                            <p class="icon-text  icon-tel">...</p>
                                            
                                            <p class="icon-text  icon-email">
                                                <a href="#">contact@ifrc.fr</a>
                                            </p>
                                        </div>
                                        <div class="one_half last">
                                            <div class="image_contact ">
                                                <img src="images/images_contact_01.jpg">
                                            </div>
                                            
                                        </div>
                                	</div>
                                    <div class="all_offce">
                                        <div class="one_half">
                                            <h3>Vietnam</h3>
                                            <p class="icon-text  icon-home">SE 5-1 Canh Vien 2, Phu My Hung, <br>7è arrondissement,<br>Ho Chi Minh ville - VIET NAM</p>
                                            
                                            <p class="icon-text  icon-tel">Tel: (08) 54 17 13 28      
                                                <br />Fax: (08) 54 17 13 65</p>
                                            
                                            <p class="icon-text  icon-email">
                                                <a href="#">contact@ifrc.fr</a>
                                            </p>
                                        </div>
                                        <div class="one_half last">
                                            <div class="image_contact ">
                                                <img src="images/images_contact_02.jpg">
                                            </div>
                                            
                                        </div>
                                	</div>
                                <p>&nbsp;</p>
                                
                                <form action="#"
                                class="contact-form" method="post">
                                    <div class="form clearfix">
                                        <p>
                                            <label for="name_2626">Name</label>
                                            <input type="text" id="name_2626" name="name_2626" class="required"
                                            />
                                        </p>
                                        <p class="last">
                                            <label for="email_2626">E-mail</label>
                                            <input type="text" id="email_2626" name="email_2626" class="required email"
                                            />
                                        </p>
                                        <p>
                                            <label for="message_2626">Message</label>
                                            <textarea id="message_2626" name="message_2626" rows="5"
                                            cols="15"></textarea>
                                        </p>
                                        <div class="alignright">
                                            <p class="form-submit">
                                                <input type="submit" name="submit" value="SEND FORM" />
                                            </p>
                                            <input type="hidden" name="contact_to_2626" value="imperialthemes*gmail.com"
                                            />
                                            <input type="hidden" name="contact_form_id" value="2626" />
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </article>
                    </div>
                </div>
                <div id="sidebar">
                    
                    <div id="popular_posts-3" class="widget widget_popular_posts">
                        <h3>Actualités</h3>
                        <ul class="posts_list">
                            <li>
                                <a class="thumbnail" href="#" title="">
                                	<img width="65" height="65" src="images/img_new_150x150.jpg" class="attachment-65x65 wp-post-image" alt="Hello World" title="" />
                                </a>
                                <div class="post_extra_info fx_cl_title_right">
                                    <a href="#"rel="bookmark" title=""><strong>Vietnam Equity markets' indexes</strong></a>
                                    <p>Like all developing markets, equity markets of Vietnam (Hochiminh and Hanoi) have different indexes that represent...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <a class="thumbnail" href="#">
                                	<img width="65" height="65" src="images/img_new_150x150_02.jpg" class="attachment-65x65 wp-post-image" alt="Fusce nibh neque fermentum" title="" />
                                </a>
                                <div class="post_extra_info fx_cl_title_right">
                                    <a href="#" rel="bookmark" title=""><strong>The IFRC VNX Vietnam indexes family</strong></a>
                                    <p>At present, there are two stock exchanges in Vietnam ...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li class="last">
                                <a class="thumbnail" href="#">
                                	<img width="65" height="65" src="images/img_new_150x150_03.jpg" class="attachment-65x65 wp-post-image" alt="Lorem ipsum" title="" />
                                </a>
                                <div class="post_extra_info fx_cl_title_right">
                                    <a href="#" rel="bookmark" title=""><strong>Vietnam Stock Markets Monthly Reports</strong></a>
                                    <p>...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="wrapper">
                <div class="footer-nav-wrapper">
                    <div class="fnwl1"></div>
                    <div class="fnwc1">
                        <nav>
                            <ul id="menu-footer-nav" class="menu">
                                <li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-246 current_page_item menu-item-289">
                                    <a href="index.htm">Accueil</a>
                                </li>
                                <li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290">
                                    <a href="detail_pages.htm">Services</a>
                                </li>
                                <li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293">
                                    <a href="detail_pages.htm">Produits</a>
                                </li>
                                <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292">
                                    <a href="detail_pages.htm">Notre équipe</a>
                                </li>
                                <li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292">
                                    <a href="contact.htm">Contact</a>
                                </li>
                               
                            </ul>
                            <div class="social_links">
                                <a class="facebook" href="http://www.facebook.com" target="_blank">Facebook</a>
                                <a class="flickr" href="http://www.flickr.com" target="_blank">Flickr</a>
                                <a class="linkedin" href="http://www.linkedin.com" target="_blank">LinkedIn</a>
                                <a class="twitter" href="https://twitter.com" target="_blank">Twitter</a>
                            </div>
                        </nav>
                    </div>
                    <div class="fnwr1"></div>
                </div>
                <div class="clear"></div>
                <div class="footer-content">
                    <div class="one_third">
                        <div id="text-2" class="widget widget_text">
                            <h3>Conseils en gestion</h3>
                            <div class="textwidget">
                                <p>Création d'entreprise, Etablissement des états financiers ... aux missions de Conseil</p>
                                <p><a href="#" class="bg_dt">plus d'informations</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="one_third">
                        <div id="recent_posts-2" class="widget widget_recent_posts">
                            <h3>Indices sur mesure</h3>
                            <div class="textwidget">
                                <p>Conception, Simulations, Calcul, Gestion, Publication, ... à la Promotion des indices sur mesures</p>
                                <p><a href="#" class="bg_dt">plus d'informations</a></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="one_third last">
                        <div id="imperial_twitter-2" class="widget widget_twitter">
                            <h3>Création d'entreprise</h3>
                            <div class="textwidget">
                                <p>Etablissement business plan, Formalités administratives, ... Création de l'identité visuelle, à l'hébergement du site web</p>
                               <p><a href="#" class="bg_dt">plus d'informations</a></p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="copyright">
                <div class="wrapper">
                    <span class="alignleft">All rights reserved. Copyright © 2012</span>
                    <span class="alignright">
                        <a href="ifrc.fr">www.ifrc.fr</a>
                    </span>
                </div>
            </div>
        </footer>
        <script type='text/javascript'>
            Cufon.now();
        </script>
        
    </body>
    
    </html>
    <!-- This Quick Cache file was built for ( themes.imperialthemes.com/businessdesign/sample-pages/contact-us/
    ) in 0.65077 seconds, on Apr 23rd, 2012 at 6:58 pm UTC. -->
    <!-- This Quick Cache file will automatically expire ( and be re-built
    automatically ) on Apr 24th, 2012 at 4:58 am UTC -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    -->
    <!-- Quick Cache Is Fully Functional :-) ... A Quick Cache file was just
    served for ( themes.imperialthemes.com/businessdesign/sample-pages/contact-us/
    ) in 0.01373 seconds, on Apr 24th, 2012 at 4:17 am UTC. -->