<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
    <!-->
    <html class="no-js" dir="ltr" lang="en-US">
    <!--<![endif]-->
    <!-- the "no-js" class is for Modernizr. -->
    <meta charset="UTF-8" />
    <title>Features | Business Design</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel='stylesheet' id='pe_estro_slider_style-css' href='css/allskins.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='default-css' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='skin-css' href='css/skin.php.css' type='text/css' media='all' />
    <link rel='stylesheet' id='videojs-css' href='css/videojs.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-css' href='css/supersized.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-shutter-css' href='css/supersized.shutter.css' type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.pixelentity.kenburnsSlider.min.js'></script>
    <script type='text/javascript' src='js/superfish.js'></script>
    <script type='text/javascript' src='js/jquery.tools.min.js'></script>
    <script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='js/video.js'></script>
    <script type='text/javascript' src='js/jquery.sudoSlider.min.js'></script>
    <script type='text/javascript' src='js/jquery.functions.js'></script>
    <script type='text/javascript' src='js/jquery.nivo.slider.pack.js'></script>
    <script type='text/javascript' src='js/nivo-init.js'></script>
    <script type='text/javascript' src='js/comment-reply.js'></script>
    <script type='text/javascript' src='js/jquery.tweet.js'></script>
    <script type='text/javascript' src='js/jquery.slides.min.js'></script>
    
    <script type='text/javascript' src='js/cufon.js'></script>
    <script type='text/javascript' src='js/DINpro_Bold_700.font.js'></script>
    <script type='text/javascript' src='js/DINpro_Cond_500.font.js'></script>
    
    <script type='text/javascript' src='js/jquery.gmap-1.1.0-min.js'></script>
    <style type="text/css">
        .recentcomments a {
            display:inline !important;
            padding:0 !important;
            margin:0 !important;
        }
    </style>
    <link rel="alternate" type="application/atom+xml" title="Business Design Atom Feed"
    href="http://themes.imperialthemes.com/businessdesign/feed/atom/">
    <link rel="pingback" href="http://themes.imperialthemes.com/businessdesign/xmlrpc.php"
    />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/js/html5.js"></script>
    <![endif]-->
    <script type='text/javascript'>
        Cufon.replace('#primary-navigation > ul > li > a', {
            fontFamily: "DINpro Bold"
        }); // Works without a selector engine
        Cufon.replace('h1, h2, h3', {
            fontFamily: "DINpro Cond"
        }); // Works without a selector engine
    </script>
    <link id="democss" rel="stylesheet" href="http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/css/dark.css"
    type="text/css" media="screen" />
    <script type="text/javascript" src="http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/demo/demo.js"></script>
    <link rel="stylesheet" href="http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/demo/demo.css"
    type="text/css" media="screen" />
    <link rel="stylesheet" href="http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/demo/colorpicker.css"
    type="text/css" media="screen" />
    </head>
    
    <body class="page page-id-209 page-parent page-template-default">
        <div id="style_switcher">
            <input type="hidden" id="baseurl" value="http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business"
            />
            <a href="#" id="btn_switch"></a>
            <ul>
                <li>
                    <a href="#" class="darkversion">DARK VERSION</a>
                </li>
                <li>
                    <a href="#" class="lightversion">LIGHT VERSION</a>
                </li>
                <li>
                    <a href="#" class="bgversion">BG VARIATIONS</a>
                    <div class="style_switcher_custom" style="display:none">
                        <div class="style_switcher_bgs clearfix">
                            <a href="#" class="pattern" data-rel="bg1" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/backgrounds/bg1.jpg"></a>
                            <a href="#" class="pattern" data-rel="bg2" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/backgrounds/bg2.jpg"></a>
                            <a href="#" class="pattern" data-rel="bg3" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/backgrounds/bg3.jpg"></a>
                            <a href="#" class="pattern" data-rel="bg4" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/backgrounds/bg4.jpg"></a>
                            <a href="#" class="pattern" data-rel="bg5" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/backgrounds/bg5.jpg"></a>
                            <a href="#" class="pattern" data-rel="bg6" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/backgrounds/bg6.jpg"></a>
                            <a href="#" class="pattern" data-rel="bg7" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/backgrounds/bg7.jpg"></a>
                            <a href="#" class="pattern" data-rel="bg8" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/backgrounds/bg8.jpg"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="customversion">CUSTOM VERSION</a>
                    <div class="style_switcher_custom" style="display:none">
                        <a href="#" id="colorpicker">Color <img src="http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/demo/picker-btn.png" alt="" /></a>
                        <span class="patterns_title">Patterns</span>
                        <div class="style_switcher_patterns clearfix">
                            <a href="#" class="pattern" data-rel="pattern1" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern1.png"></a>
                            <a href="#" class="pattern" data-rel="pattern2" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern2.png"></a>
                            <a href="#" class="pattern" data-rel="pattern3" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern3.png"></a>
                            <a href="#" class="pattern" data-rel="pattern4" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern4.png"></a>
                            <a href="#" class="pattern" data-rel="pattern5" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern5.png"></a>
                            <a href="#" class="pattern" data-rel="pattern6" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern6.png"></a>
                            <a href="#" class="pattern" data-rel="pattern7" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern7.png"></a>
                            <a href="#" class="pattern" data-rel="pattern8" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern8.png"></a>
                            <a href="#" class="pattern" data-rel="pattern9" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern9.png"></a>
                            <a href="#" class="pattern" data-rel="pattern10" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern10.png"></a>
                            <a href="#" class="pattern" data-rel="pattern11" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern11.png"></a>
                            <a href="#" class="pattern" data-rel="pattern12" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern12.png"></a>
                            <a href="#" class="pattern" data-rel="pattern13" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern13.png"></a>
                            <a href="#" class="pattern" data-rel="pattern14" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern14.png"></a>
                            <a href="#" class="pattern" data-rel="pattern15" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern15.png"></a>
                            <a href="#" class="pattern" data-rel="pattern16" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern16.png"></a>
                            <a href="#" class="pattern" data-rel="pattern17" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern17.png"></a>
                            <a href="#" class="pattern" data-rel="pattern18" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern18.png"></a>
                            <a href="#" class="pattern" data-rel="pattern19" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern19.png"></a>
                            <a href="#" class="pattern" data-rel="pattern20" style="background-image: url(http://themes.imperialthemes.com/businessdesign/wp-content/themes/imperial-business/assets/images/patterns/pattern20.png"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="topbar">
            <div></div>
        </div>
        <div class="page_bg"></div>
        <div class="wrapper hfeed">
            <header id="header">
                <div class="logo">
                    <h1 title="Business Design">
                        <a href="http://themes.imperialthemes.com/businessdesign" title="Business Design"><img src="images/ifrc_logo.png" alt="Business Design" />
</a>
                    </h1>
                </div>
                <div class="site-navigation">
                    <div class="lang_top">
                        <a href="#">
                            <img src="images/flag_france.png">
                        </a>
                        <a href="#">
                            <img src="images/flag_en.png">
                        </a>
                        <a href="#">
                            <img src="images/flag-vn.png">
                        </a>
                    </div>
                    <ul class="alignright">
                        <li>
                            <a href="http://themes.imperialthemes.com/businessdesign" class="icon-home">Business Design</a>
                        </li>
                        <li>
                            <span class="icon-search"></span>
                        </li>
                        <li>
                            <a href="http://themes.imperialthemes.com/businessdesign/shortcodes/sitemap/"
                            class="icon-sitemap">Sitemap</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <form id="searchform" action="http://themes.imperialthemes.com/businessdesign"
                    method="get">
                        <input type="text" id="s" name="s" value="Keyword" />
                        <button type="submit" id="search-submit" value="Search" title="Search">Search</button>
                    </form>
                </div>
                <div class="clear"></div>
                <nav id="primary-navigation" role="navigation">
                    <ul id="menu-primary-nav" class="sf-menu">
                        <li id="menu-item-101" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home parent">
                            <a href="http://themes.imperialthemes.com/businessdesign/"><span>Accueil</span></a>
                            <p>
                                <a href="http://themes.imperialthemes.com/businessdesign/">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </p>
                            
                        </li>
                        <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page parent">
                            <a href="http://themes.imperialthemes.com/businessdesign/shortcodes/"><span>Services</span></a>
                      <p>
                                <a href="http://themes.imperialthemes.com/businessdesign/shortcodes/">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                          </p>
                          <ul class="sub-menu">
                                <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indices sur mesure</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Conseils en gestion</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Création d'entreprise</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Recherche</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Formations</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Prestations Informatiques</a>
                                </li>
                          </ul>
                        </li>
                        <li id="menu-item-166" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                            <a href="#"><span>Produits</span></a>
                      <p>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                          </p>
                             <ul class="sub-menu">
                                <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">IFRC Indexes</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indexes Observatory</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Options & Futures</a>
                                </li>
                                 <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Stratégies d'options</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice CAC40 (France)</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice Euro Stoxx 50</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Indice VNI (Vietnam)</a>
                                </li>

                             </ul>
                            
                        </li>
                        <li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page parent">
                            <a href="http://themes.imperialthemes.com/businessdesign/features/"><span>Note Équipe</span></a>
                      <p>
                                <a href="http://themes.imperialthemes.com/businessdesign/features/">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </p>
                            <ul class="sub-menu">
                                <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="http://themes.imperialthemes.com/businessdesign/features/theme-options/">Theme Options</a>
                                </li>
                                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="http://themes.imperialthemes.com/businessdesign/features/google-font-and-cufon/">Google Font and Cufon</a>
                                </li>
                                <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="http://themes.imperialthemes.com/businessdesign/features/anything-slider-page/">Anything Slider Page</a>
                                </li>
                                <li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="http://themes.imperialthemes.com/businessdesign/features/nivo-slider-page/">Nivo Slider Page</a>
                                </li>
                                <li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="http://themes.imperialthemes.com/businessdesign/features/supersized-slider-page/">Supersized Slider Page</a>
                                </li>
                                <li id="menu-item-343" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="http://themes.imperialthemes.com/businessdesign/features/custom-sidebars/">Custom Sidebars</a>
                                </li>
                                <li id="menu-item-344" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="http://themes.imperialthemes.com/businessdesign/features/custom-widgets/">Custom Widgets</a>
                                </li>
                                <li id="menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="http://themes.imperialthemes.com/businessdesign/features/custom-skin-and-patterns/">Custom Skin and Patterns</a>
                                </li>
                                <li id="menu-item-348" class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="http://themes.imperialthemes.com/businessdesign/features/page-item-options/">Page Item Options</a>
                                </li>
                                <li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                                    <a href="#">Second Level</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-513" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                                            <a href="#">Custom Link</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-516" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="#">Menu Item</a>
                                                </li>
                                                <li id="menu-item-517" class="menu-item menu-item-type-custom menu-item-object-custom">
                                                    <a href="#">Menu Item</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-514" class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="#">Custom Link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-526" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                            <a href="#"><span>Contact</span></a>
                      <p>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </p>
                        </li>
                        <li id="menu-item-526" class="menu-item menu-item-type-custom menu-item-object-custom parent">
                            <a href="#"><span>Accès privé</span></a>
                      <p>
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                            </p>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </nav>
            </header>
            <div id="content" role="main" class="right-sidebar">
                <div id="main">
                    <div class="main_content">
                        <article class="post" id="post-209">
                            <h2 class="entry-title">FEATURES</h2>
                            <div class="entry"></div>
                        </article>
                    </div>
                </div>
                <div id="sidebar">
                    <div id="subnav-3" class="widget widget_subnav">
                        <h3>Sub Pages</h3>
                        <ul>
                            <li class="page_item page-item-230">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/nivo-slider-page/">Nivo Slider Page</a>
                            </li>
                            <li class="page_item page-item-235">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/supersized-slider-page/">Supersized Slider Page</a>
                            </li>
                            <li class="page_item page-item-251">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/page-with-background-image/">Page with background image</a>
                            </li>
                            <li class="page_item page-item-345">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/page-item-options/">Page Item Options</a>
                            </li>
                            <li class="page_item page-item-276">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/anything-slider-page/">Anything Slider Page</a>
                            </li>
                            <li class="page_item page-item-356">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/google-font-and-cufon/">Google Font and Cufon</a>
                            </li>
                            <li class="page_item page-item-295">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/theme-options/">Theme Options</a>
                            </li>
                            <li class="page_item page-item-337">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/custom-widgets/">Custom Widgets</a>
                            </li>
                            <li class="page_item page-item-339">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/custom-sidebars/">Custom Sidebars</a>
                            </li>
                            <li class="page_item page-item-367">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/no-slider/">No Slider</a>
                            </li>
                            <li class="page_item page-item-568">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/featured-image/">Featured Image</a>
                            </li>
                            <li class="page_item page-item-589">
                                <a href="http://themes.imperialthemes.com/businessdesign/features/custom-skin-and-patterns/">Custom Skin and Patterns</a>
                            </li>
                        </ul>
                    </div>
                    <div id="popular_posts-4" class="widget widget_popular_posts">
                        <h3>Popular Posts</h3>
                        <ul class="posts_list">
                            <li>
                                <a class="thumbnail" href="http://themes.imperialthemes.com/businessdesign/hello-world/"
                                title="Hello World">
  <img width="65" height="65" src="http://themes.imperialthemes.com/businessdesign/files/2012/02/7-150x150.jpg" class="attachment-65x65 wp-post-image" alt="Hello World" title="Hello World" />	
</a>
                                <div class="post_extra_info">
                                    <a href="http://themes.imperialthemes.com/businessdesign/hello-world/"
                                    rel="bookmark" title="Hello World"><strong>Hello World</strong></a>
                                    <p>Welcome to Imperial Themes Sites. This is your first post. Edit or delete
                                        it, th...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <a class="thumbnail" href="http://themes.imperialthemes.com/businessdesign/fusce-nibh-neque-fermentum/"
                                title="Fusce nibh neque fermentum">
  <img width="65" height="65" src="http://themes.imperialthemes.com/businessdesign/files/2012/02/nv2-150x150.jpg" class="attachment-65x65 wp-post-image" alt="Fusce nibh neque fermentum" title="Fusce nibh neque fermentum" />	
</a>
                                <div class="post_extra_info">
                                    <a href="http://themes.imperialthemes.com/businessdesign/fusce-nibh-neque-fermentum/"
                                    rel="bookmark" title="Fusce nibh neque fermentum"><strong>Fusce nibh neque fermentum</strong></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor
                                        tincidu...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li class="last">
                                <a class="thumbnail" href="http://themes.imperialthemes.com/businessdesign/lorem-ipsum/"
                                title="Lorem ipsum">
  <img width="65" height="65" src="http://themes.imperialthemes.com/businessdesign/files/2012/02/6-150x150.jpg" class="attachment-65x65 wp-post-image" alt="Lorem ipsum" title="Lorem ipsum" />	
</a>
                                <div class="post_extra_info">
                                    <a href="http://themes.imperialthemes.com/businessdesign/lorem-ipsum/"
                                    rel="bookmark" title="Lorem ipsum"><strong>Lorem ipsum</strong></a>
                                    <p>Ut nec nisi elit. Praesent pharetra consequat felis eget molestie. Donec
                                        tincidu...</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="wrapper">
                <div class="footer-nav-wrapper">
                    <div class="fnwl1"></div>
                    <div class="fnwc1">
                        <nav>
                            <ul id="menu-footer-nav" class="menu">
                                <li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-246 current_page_item menu-item-289">
                                    <a href="index.html">Accueil</a>
                                </li>
                                <li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290">
                                    <a href="blog.html">Services</a>
                                </li>
                                <li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293">
                                    <a href="shortcodes.html">Produits</a>
                                </li>
                                <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292">
                                    <a href="features.html">Notre équipe</a>
                                </li>
                                <li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292">
                                    <a href="features.html">Contact</a>
                                </li>
                                <li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-291">
                                    <a href="contact.html">Accès privé</a>
                                </li>
                            </ul>
                            <div class="social_links">
                                <a class="facebook" href="http://www.facebook.com"
                                target="_blank">Facebook</a>
                                <a class="flickr" href="http://www.flickr.com" target="_blank">Flickr</a>
                                <a class="linkedin" href="http://www.linkedin.com" target="_blank">LinkedIn</a>
                                <a class="twitter" href="https://twitter.com" target="_blank">Twitter</a>
                            </div>
                        </nav>
                    </div>
                    <div class="fnwr1"></div>
                </div>
                <div class="clear"></div>
                <div class="footer-content">
                    <div class="one_third">
                        <div id="text-2" class="widget widget_text">
                            <h3>Conseils en gestion</h3>
                            <div class="textwidget">
                                <p>Création d'entreprise, Etablissement des états financiers ... aux missions de Conseil</p>
                                <p class="bg_dt">plus d'informations</p>
                            </div>
                        </div>
                    </div>
                    <div class="one_third">
                        <div id="recent_posts-2" class="widget widget_recent_posts">
                            <h3>Indices sur mesure</h3>
                            <div class="textwidget">
                                <p>Conception, Simulations, Calcul, Gestion, Publication, ... à la Promotion des indices sur mesures</p>
                                <p class="bg_dt">plus d'informations</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="one_third last">
                        <div id="imperial_twitter-2" class="widget widget_twitter">
                            <h3>Création d'entreprise</h3>
                            <div class="textwidget">
                                <p>Etablissement business plan, Formalités administratives, ... Création de l'identité visuelle, à l'hébergement du site web</p>
                                <p class="bg_dt">plus d'informations</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="copyright">
                <div class="wrapper">
                    <span class="alignleft">All rights reserved. Copyright © 2012</span>
                    <span class="alignright">
                        <a href="ifrc.fr">www.ifrc.fr</a>
                    </span>
                </div>
            </div>
        </footer>
        <script type='text/javascript'>
            Cufon.now();
        </script>
        <script type="text/javascript">
            var _gaq = _gaq || [];

            _gaq.push(['_setAccount', 'UA-20924715-1']);

            _gaq.push(['_setDomainName', 'imperialthemes.com']);

            _gaq.push(['_trackPageview']);



            (function () {

                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;

                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);

            })();
        </script>
    </body>
    
    </html>
    <!-- This Quick Cache file was built for ( themes.imperialthemes.com/businessdesign/features/
    ) in 0.72970 seconds, on Apr 23rd, 2012 at 7:17 am UTC. -->
    <!-- This Quick Cache file will automatically expire ( and be re-built
    automatically ) on Apr 23rd, 2012 at 5:17 pm UTC -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    -->
    <!-- Quick Cache Is Fully Functional :-) ... A Quick Cache file was just
    served for ( themes.imperialthemes.com/businessdesign/features/ ) in 0.00060
    seconds, on Apr 23rd, 2012 at 8:59 am UTC. -->