<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9 no-js" dir="ltr" lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<!-->
<html class="no-js" dir="ltr" lang="en-US">
<!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->
<meta charset="UTF-8" />
<title>Intelligent Financial Research &amp; Consulting</title>
<meta
name="keywords" content="">

    
	<link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel='stylesheet' id='pe_estro_slider_style-css' href='css/allskins.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='default-css' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='skin-css' href='css/skin.php.css' type='text/css' media='all' />
    <link rel='stylesheet' id='videojs-css' href='css/videojs.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-css' href='css/supersized.css' type='text/css' media='all' />
    <link rel='stylesheet' id='supersized-shutter-css' href='css/supersized.shutter.css' type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.pixelentity.kenburnsSlider.min.js'></script>
    <script type='text/javascript' src='js/superfish.js'></script>
    <script type='text/javascript' src='js/jquery.tools.min.js'></script>
    <script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='js/video.js'></script>
    <script type='text/javascript' src='js/jquery.sudoSlider.min.js'></script>
    <script type='text/javascript' src='js/jquery.functions.js'></script>
    <script type='text/javascript' src='js/jquery.nivo.slider.pack.js'></script>
    <script type='text/javascript' src='js/nivo-init.js'></script>
    <script type='text/javascript' src='js/comment-reply.js'></script>
    <script type='text/javascript' src='js/jquery.tweet.js'></script>
    <script type='text/javascript' src='js/jquery.slides.min.js'></script>
    
    <script type='text/javascript' src='js/cufon.js'></script>
    <script type='text/javascript' src='js/DINpro_Bold_700.font.js'></script>
    <script type='text/javascript' src='js/DINpro_Cond_500.font.js'></script>
    <style type="text/css">
        .recentcomments a {
            display:inline !important;
            padding:0 !important;
            margin:0 !important;
        }
    </style>
   
    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
    <script type='text/javascript'>
        Cufon.replace('#primary-navigation > ul > li > a', {
            fontFamily: "DINpro Bold"
        }); // Works without a selector engine
        Cufon.replace('h1, h2, h3', {
            fontFamily: "DINpro Cond"
        }); // Works without a selector engine
		
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var sudoSlider = jQuery("#sudoslider").sudoSlider({
                vertical: true,
                continuous: true,
                controlsAttr: 'id="posts_slider_controls"'
            });
        });
    </script>
    <link id="democss" rel="stylesheet" href="css/dark.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/demo.js"></script>
    <link rel="stylesheet" href="css/demo.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/colorpicker.css" type="text/css" media="screen" />
    </head>
<body>
    <div id="body" class="main-container" style="">
        <div class="wrapper hfeed">
            <div id="content" class="right-sidebar" role="main">
                <div id="main" style="margin-top: 10px;">
                    <div class="main_content" style="width: 992px; height: auto;-top: 3px; background-color: white;border-radius: 0px !important;">
                    <div class="top_left" style="width: 40%;background-color: blue; float:left;"></div>
                    <div class="top_right" style="width: 60%;background-color: green;"></div>
                    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
