<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" >
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Ô Khuyến Mãi | Shopping</title>
        <link href="images/favicon.png" rel="shortcut icon"/>
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link rel='stylesheet' id='nivoslider-css'  href='css/nivo-slider.css' type='text/css' media='all' />
        <!-- start css menu main -->
        <link rel="stylesheet" href="css/menu.css" type="text/css">
            <link rel="stylesheet" href="css/menuStyle.css" type="text/css">
                <!-- Default CSS File -->
                <link rel="stylesheet" href="css/typography.css" />

                <!--[if IE 6]><link href="css/ie6_css.css" rel="stylesheet" type="text/css" /><![endif]-->
                <!--[if IE 7]><link href="css/ie7_css.css" rel="stylesheet" type="text/css" /><![endif]-->
                <link rel="stylesheet" href="css/megamenu.css" type="text/css" media="screen" />
                <!-- start script main menu -->
                <script src="js/jquery-1.6.2.js" type="text/javascript"></script>
                <script type="text/javascript" src="js/megamenu.js"></script><!-- Mega Menu Script -->

                <!-- script slider_products -->
                <script type="text/javascript" src="js/jquery.bxSlider.js"></script>
                <!-- start script slide main -->
                <script type='text/javascript' src='js/custom.js'></script>
                <script type='text/javascript' src='js/jquery.nivo.slider.js'></script>


                <script type="text/javascript">
                    $GKMenu = { height: true, width: true, duration: 250 };
	
                    $(document).ready(function() {
                        $('#partner').bxSlider({
                            auto: true,
                            displaySlideQty: 5,
                            moveSlideQty: 1
                        });
                    });
                </script>
                <script type='text/javascript' src='js/cufon-yui.js'></script>
                <script type='text/javascript' src='js/Rockwell-ExtraBold_700.font.js'></script>
                <script type="text/javascript">
                    Cufon.replace	('h1,h2,.bt_buy > a');
                </script>    
                </head>
                <body> 

                    <!-- start header -->
                    <div id="header">
                        <!-- start top -->
                        <div id="top">
                            <!-- start menu top -->
                            <div id="menu_top">
                                <ul>
                                    <li><a class="active" href="#">Welcome</a></li>
                                    <li><a href="up_products.html">Upload</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="register.html">Register</a></li>

                                </ul>
                            </div>
                            <!-- end menu top -->
                        </div>
                        <!-- end top -->
                        <!-- start banner -->
                        <div id="banner">
                            <!-- fix size banner menu... -->
                            <div id="fix_size_banner">

                                <!-- start logo -->
                                <div id="logo">
                                    <a href="index.html"><img src="images/logo.png" /></a>
                                </div>
                                <!-- end logo -->
                                <!-- start search top -->
                                <div id="search_top">
                                    <form action="#" method="get">
                                        <input type="text" value="--Nhập thông tin tìm kiếm --" class="fix_txt_search" />
                                        <div class="bt_search_top"><a href="#">Tìm kiếm</a></div>
                                    </form>
                                </div>
                                <!-- end search top -->
                                <!-- start menu main -->
                                <div id="menu_main">
                                    <div class="megamenu_container menu_blue">
                                        <!-- Begin Mega Menu -->
                                        <ul class="megamenu">
                                            <li><a href="index.html" class="drop"><img src="images/home.png" alt="" /></a></li>
                                            <!-- Begin Item -->
                                            <li><a href="list_products.html" class="drop">Quán ăn</a>
                                                <!-- Begin Item Container -->
                                                <div class="fullwidth">
                                                    <div class="col_f_place">
                                                        <h4>Hà Nội</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col_f_place">
                                                        <h4>Huế</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col_f_place">
                                                        <h4>Sài gòn</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>  
                                                </div>
                                                <!-- End Item Container --> 
                                            </li>
                                            <!-- End Item -->
                                            <!-- Begin Item -->
                                            <li><a href="list_products.html" class="drop">Thời trang</a>
                                                <!-- Begin Item Container -->
                                                <div class="fullwidth">
                                                    <div class="col_f_place">
                                                        <h4>Nam</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Quần jeans</a></li>
                                                                <li><a href="#">Áo khoác</a></li>
                                                                <li><a href="#">Giày</a></li>
                                                                <li class="mn_last"><a href="#">Khác</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col_f_place">
                                                        <h4>Nữ</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Quần</a></li>
                                                                <li><a href="#">Áo</a></li>
                                                                <li><a href="#">Váy</a></li>
                                                                <li><a href="#">Giày, Dép</a></li>
                                                                <li><a href="#">Túi xách, ví</a></li>
                                                                <li><a href="#">Nữ trang</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col_f_place">
                                                        <h4>Trẻ em</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Quần</a></li>
                                                                <li><a href="#">Áo</a></li>
                                                                <li><a href="#">Giày, Dép</a></li>
                                                                <li class="mn_last"><a href="#">Phụ kiện cho bé</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>  
                                                </div>
                                                <!-- End Item Container --> 
                                            </li>
                                            <!-- End Item -->

                                            <!-- Begin Item -->
                                            <li><a href="list_products.html" class="drop">Lifestyle</a>
                                                <!-- Begin Item container -->
                                                <div class="fullwidth">
                                                    <div class="col_f_place">
                                                        <h4>Hà Nội</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col_f_place">
                                                        <h4>Hà Nội</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col_f_place">
                                                        <h4>Huế</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col_f_place">
                                                        <h4>Sài gòn</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="mn_adver_shop">

                                                    </div>  
                                                </div>
                                                <!-- End Item container --> 
                                            </li>
                                            <!-- End Item -->

                                            <!-- Begin Item -->
                                            <li><a href="list_products.html" class="drop">Du lịch</a>
                                                <!-- Begin Item container -->
                                                <div class="fullwidth">
                                                    <div class="col_f_place">
                                                        <h4>Hà Nội</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col_f_place">
                                                        <h4>Huế</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col_f_place">
                                                        <h4>Sài gòn</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>  
                                                </div>
                                                <!-- End Item container --> 
                                            </li>
                                            <!-- End Item -->
                                            <!-- Begin Item -->
                                            <li><a href="list_products.html" class="drop">Công nghệ</a>

                                                <!-- Begin Item Container -->
                                                <div class="fullwidth">
                                                    <div class="col_f_place">
                                                        <h4>Hà Nội</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col_f_place">
                                                        <h4>Huế</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col_f_place">
                                                        <h4>Sài gòn</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>  
                                                </div> 
                                                <!-- End Item Container --> 
                                            </li>
                                            <!-- End Item -->

                                            <!-- Begin Item -->
                                            <li><a href="list_products.html" class="drop">Nhà đẹp</a>

                                                <!-- Begin Item Container -->
                                                <div class="fullwidth">
                                                    <div class="col_f_place">
                                                        <h4>Hà Nội</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col_f_place">
                                                        <h4>Huế</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col_f_place">
                                                        <h4>Sài gòn</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>  
                                                </div> 
                                                <!-- End Item Container --> 
                                            </li>
                                            <!-- End Item -->

                                            <!-- Begin Item -->
                                            <li><a href="list_products.html" class="drop">Trung tâm mua sắm</a>

                                                <!-- Begin Item Container -->
                                                <div class="fullwidth">
                                                    <div class="col_f_place">
                                                        <h4>Hà Nội</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col_f_place">
                                                        <h4>Huế</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col_f_place">
                                                        <h4>Sài gòn</h4>
                                                        <div class="list_sub_menu">
                                                            <ul>
                                                                <li><a href="#">Phở gia truyền</a></li>
                                                                <li><a href="#">Cốm xanh</a></li>
                                                                <li class="mn_last"><a href="#">...</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>  
                                                </div> 
                                                <!-- End Item Container --> 
                                            </li>
                                            <!-- End Item -->
                                        </ul>
                                        <!-- End Mega Menu --> 

                                    </div>
                                </div>
                                <!-- end menu main -->
                            </div>
                            <!-- end fix size banner menu... -->
                        </div>
                        <!-- end banner -->

                    </div>
                    <!-- end header -->
                    <!-- fix size -->
                    <div id="fix_size">


                        <!-- start main content -->
                        <div id="main">
                            <!-- start slide main -->
                            <div id="main_slide">
                                <div id="slider-wrapper">
                                    <div id="slider" class="nivoSlider"> 
                                        <a href="#"> 
                                            <img src="images/img-slide01.jpg" rel="images/thumb-img-slide01.jpg" alt="Lady Gaga is Top Earner" title="#caption1" /> 
                                        </a> 
                                        <a href="#"> 
                                            <img src="images/img-slide02.jpg" rel="images/thumb-img-slide02.jpg" alt="Glastonbury 2011: A Review" title="#caption2" /> 
                                        </a> 
                                        <a href="#"> 
                                            <img src="images/img-slide03.jpg" rel="images/thumb-img-slide03.jpg" alt="Man Utd Veteran Paul Scholes Retires" title="#caption3" /> 
                                        </a> 

                                    </div>
                                    <div id="caption1" class="nivo-html-caption"></div>
                                    <div id="caption2" class="nivo-html-caption"></div>
                                    <div id="caption3" class="nivo-html-caption"></div>
                                    <div id="caption4" class="nivo-html-caption"></div>
                                </div>
                            </div>
                            <!-- start slide main  -->
                            <div style="clear:both; height:1px;">&nbsp;</div>
                            <!-- start main first -->
                            <div id="main_f">
                                <div class="icon_diamond"><img src="images/icon_diamon.png" /></div>
                                <h1>Ô kim cương</h1>
                                <div class="shadow_title_diamond"></div>
                                <div id="main_f_content">
                                    <ul>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_01.jpg" />
                                                <div class="bt_shop"><a href="shop.html">Shop</a></div>
                                                <div class="bt_products"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_02.jpg" />
                                                <div class="bt_shop"><a href="shop.html">Shop</a></div>
                                                <div class="bt_products"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_03.jpg" />
                                                <div class="bt_shop"><a href="shop.html">Shop</a></div>
                                                <div class="bt_products"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_04.jpg" />
                                                <div class="bt_shop"><a href="shop.html">Shop</a></div>
                                                <div class="bt_products"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_05.jpg" />
                                                <div class="bt_shop"><a href="shop.html">Shop</a></div>
                                                <div class="bt_products"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_06.jpg" />
                                                <div class="bt_shop"><a href="shop.html">Shop</a></div>
                                                <div class="bt_products"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_02.jpg" />
                                                <div class="bt_shop"><a href="shop.html">Shop</a></div>
                                                <div class="bt_products"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_01.jpg" />
                                                <div class="bt_shop"><a href="shop.html">Shop</a></div>
                                                <div class="bt_products"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_04.jpg" />
                                                <div class="bt_shop"><a href="shop.html">Shop</a></div>
                                                <div class="bt_products"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_03.jpg" />
                                                <!--div class="bt_shop"><a href="shop.html">Shop</a></div-->
                                                <div class="bt_products_1"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_06.jpg" />
                                                <!--div class="bt_shop"><a href="shop.html">Shop</a></div-->
                                                <div class="bt_products_1"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="f_diamond_bg1">
                                                <img src="images/img_pro_diamon_05.jpg" />
                                                <!--div class="bt_shop"><a href="shop.html">Shop</a></div-->
                                                <div class="bt_products_1"><a href="detail_products.html">Products</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <!--Start Pagination-->
                                <div class="pagination">
                                    <ul>
                                        <li class="page-previous"><a href="#">PREV</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li ><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li class="page-next"><a href="#">NEXT</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                    <br />
                                    <br />
                                </div>
                                <!-- End Pagination -->	
                            </div>
                            <!-- end main first -->
                            <div style="clear:both; height:1px;">&nbsp;</div>
                            <!-- start main second -->
                            <div id="main_s">
                                <div class="icon_gold"><img src="images/gold_icon.png" /></div>
                                <h1>Ô vàng</h1>
                                <div class="shadow_title_gold"></div>
                                <div id="main_s_content">
                                    <ul>
                                        <li>
                                            <div class="info_pro">
                                                <img src="images/img_pro_gold_01.jpg" />
                                                <div class="bt_detail_gold_1"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro">
                                                <img src="images/img_pro_gold_01.jpg" />
                                                <div class="bt_detail_gold_1"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro">
                                                <img src="images/img_pro_gold_02.jpg" />
                                                <div class="bt_detail_gold_1"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro">
                                                <img src="images/img_pro_gold_03.jpg" />
                                                <div class="bt_detail_gold_1"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro_2">
                                                <img src="images/img_pro_gold_04.jpg" />
                                                <div class="bt_detail_gold"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro_2">
                                                <img src="images/img_pro_gold_04.jpg" />
                                                <div class="bt_detail_gold"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro_2">
                                                <img src="images/img_pro_gold_04.jpg" />
                                                <div class="bt_detail_gold"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro_2">
                                                <img src="images/img_pro_gold_04.jpg" />
                                                <div class="bt_detail_gold"><a href="#">MUA</a></div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="info_pro">
                                                <img src="images/img_pro_gold_05.jpg" />
                                                <div class="bt_detail_gold_1"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro">
                                                <img src="images/img_pro_gold_06.jpg" />
                                                <div class="bt_detail_gold_1"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro">
                                                <img src="images/img_pro_gold_07.jpg" />
                                                <div class="bt_detail_gold_1"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info_pro">
                                                <img src="images/img_pro_gold_08.jpg" />
                                                <div class="bt_detail_gold_1"><a href="#">MUA</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <!--Start Pagination-->
                                <div class="pagination">
                                    <ul>
                                        <li class="page-previous"><a href="#">PREV</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li ><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li class="page-next"><a href="#">NEXT</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                    <br />
                                    <br />
                                </div>
                                <!-- End Pagination -->
                            </div>
                            <div style="clear:both; height:1px;">&nbsp;</div>
                            <!-- end main second -->
                            <!-- start main third -->
                            <div id="main_thr">
                                <div class="icon_pro"><img src="images/pro_icon_1.png" /></div>
                                <h1>Sản phẩm</h1>
                                <div class="shadow_title_pro"></div>
                                <div id="main_thr_slide">
                                    <ul id="partner" class="jcarousel-skin-tango">
                                        <li style="width:165px">
                                            <a href="#" target="_blank" rel="colorbox" title="image description">
                                                <img src="images/images_slide_pro_04.jpg" alt="" />
                                            </a>
                                            <div style="padding-top:5px; font-weight:bold; text-align:center; width:145px; float:left">
                                                <a href="#" style="text-decoration:none; color:#1873AC">Dress</a>
                                            </div>
                                        </li>
                                        <li style="width:165px">
                                            <a href="#" target="_blank" rel="colorbox" title="image description">
                                                <img src="images/images_slide_pro_03.jpg" alt="" />
                                            </a>
                                            <div style="padding-top:5px; font-weight:bold; text-align:center; width:145px; float:left">
                                                <a href="#" style="text-decoration:none; color:#1873AC">Coat</a>
                                            </div>
                                        </li>
                                        <li style="width:165px">
                                            <a href="#" target="_blank" rel="colorbox" title="image description">
                                                <img src="images/images_slide_pro_02.jpg" alt="" />
                                            </a>
                                            <div style="padding-top:5px; font-weight:bold; text-align:center; width:145px; float:left">
                                                <a href="#" style="text-decoration:none; color:#1873AC">Bags</a>
                                            </div>
                                        </li>
                                        <li style="width:165px">
                                            <a href="#" target="_blank" rel="colorbox" title="image description">
                                                <img src="images/images_slide_pro_01.jpg" alt="" />
                                            </a>
                                            <div style="padding-top:5px; font-weight:bold; text-align:center; width:145px; float:left">
                                                <a href="#" style="text-decoration:none; color:#1873AC">Shoes</a>
                                            </div>
                                        </li>
                                        <li style="width:165px">
                                            <a href="#" target="_blank" rel="colorbox" title="image description">
                                                <img src="images/images_slide_pro_05.jpg" alt="" />
                                            </a>
                                            <div style="padding-top:5px; font-weight:bold; text-align:center; width:145px; float:left">
                                                <a href="#" style="text-decoration:none; color:#1873AC">Cap</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="clear:both; height:1px;">&nbsp;</div>
                            <!-- end main third -->
                        </div>

                        <!-- end main content -->
                        <!-- start bottom -->
                        <div id="bottom">
                            <h1>Categories</h1>
                            <div class="shadow_title_bot"></div>
                            <div class="bt_info">
                                <ul>
                                    <li class="even">
                                        <h4><a href="#" >French (124)</a></h4>
                                    </li>
                                    <li class="odd">
                                        <h4><a href="#" >Italian</a></h4>
                                    </li>
                                    <li class="even">
                                        <h4><a href="#" >Indian</a></h4>
                                    </li>
                                    <li class="odd">
                                        <h4><a href="#" >Japanese</a></h4>
                                    </li>
                                    <li class="even">
                                        <h4><a href="#" >Thai</a></h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="bt_info">
                                <ul>
                                    <li class="even">
                                        <h4><a href="#" >French (124)</a></h4>
                                    </li>
                                    <li class="odd">
                                        <h4><a href="#" >Italian</a></h4>
                                    </li>
                                    <li class="even">
                                        <h4><a href="#" >Indian</a></h4>
                                    </li>
                                    <li class="odd">
                                        <h4><a href="#" >Japanese</a></h4>
                                    </li>
                                    <li class="even">
                                        <h4><a href="#" >Thai</a></h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="bt_info">
                                <ul>
                                    <li class="even">
                                        <h4><a href="#" >French (124)</a></h4>
                                    </li>
                                    <li class="odd">
                                        <h4><a href="#" >Italian</a></h4>
                                    </li>
                                    <li class="even">
                                        <h4><a href="#" >Indian</a></h4>
                                    </li>
                                    <li class="odd">
                                        <h4><a href="#" >Japanese</a></h4>
                                    </li>
                                    <li class="even">
                                        <h4><a href="#" >Thai</a></h4>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- end bottom -->
                        <!-- start footer -->      
                        <div id="footer" class="clearfix">
                            <div id="footer_menu">
                                <p>Copyright 2011</p>
                            </div>
                            <!-- Copyright Information -->
                            <div id="informations">Developed by <b>IFRC</b></div>
                        </div>
                        <!-- end footer -->
                    </div> 
                    <!-- end fix size -->
                    <div id="fot_bg"></div>

                </body>
                </html>